<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{host}} - {{sectionName}} report ({{date.dayFormatted}})</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    a.site-link {
      text-decoration: underline;
    }

    a:focus {
      outline: 4px solid greenyellow !important;
    }

    a:visited {
      color: red !important;
    }

    .wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
    }

    .wrapper__item_position_top {
    }

    .wrapper__item_position_bottom {
      flex-grow: 0;
      overflow-y: scroll;
    }

    .fixed-bottom {
      position: fixed;
      z-index: 1;
      bottom: 1em;
      left: 1em;
      width: 15%;
      min-width: 300px;
      padding: 1em;
      box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.3);
    }
  </style>

  <script>
    function chooseTab(content, selectedTab) {
      for (elem of content) {
        if (elem.dataset.elem === selectedTab) {
          elem.hidden = false;
        } else {
          elem.hidden = true;
        }
      }
    }

    function setLinks(linksElement, numElem) {
      const numbers = [...new Set(
        numElem.value.split(',')
          .map(num => Math.trunc(+num.trim()))
          .filter(num => num > 0),
        )];

      for (linkContainer of linksElement) {
        const linksWrapper = linkContainer.querySelector('.buttons');

        for (button of linkContainer.querySelectorAll('.button[data-check-other-template-link]')) {
          linksWrapper.removeChild(button);
        }

        numbers.forEach(number => {
          const button = document.createElement('a');
          button.classList.add('button', 'is-light', 'is-small');
          button.dataset.checkOtherTemplateLink = true;
          button.setAttribute('href', `https://instantview.telegram.org/contest/${linkContainer.dataset.host}/template${number}/?url=${linkContainer.dataset.link}`);
          button.setAttribute('target', '_blank');
          button.text = `#${number}`;
          linksWrapper.appendChild(button);
        });
      }
    }

    $(document).ready(function() {
      const tabs = document.getElementById('tabs');
      const content = document.querySelectorAll('[data-elem]');
      const initiallySelectedTab = document.querySelector('#tabs li.is-active').dataset.tab;
      const templateNum = document.getElementById('template-num');
      const checkTemplateLinksContainer = document.querySelectorAll('[data-link]');

      chooseTab(content, initiallySelectedTab);

      setLinks(checkTemplateLinksContainer, templateNum);

      tabs.addEventListener('click', function({target}) {
        const actualTarget = target.closest('li');
        [].slice.call(tabs.querySelectorAll('li')).forEach(el => el.classList.remove('is-active'));
        actualTarget.classList.add('is-active');
        chooseTab(content, actualTarget.dataset.tab);
      });

      templateNum.addEventListener('input', function(e) {
        setLinks(checkTemplateLinksContainer, templateNum);
      });
    });
  </script>
</head>

<body>
  <div class="wrapper">
    <div class="wrapper__item wrapper__item_position_top">
      <div class="container">
        <section class="section">
          <nav class="breadcrumb is-large" aria-label="breadcrumbs">
            <ul>
              <li><a href="../index.html">All sites</a></li>
              <li><a href="./index.html">{{host}}</a></li>
              <li class="is-active"><a>{{sectionName}}</a></li>
            </ul>
          </nav>

          <div class="fixed-bottom has-background-dark">
            <div class="field">
              <label class="label has-text-light">Templates to check</label>
              <div class="control">
                <input class="input is-medium has-background-dark has-text-white" placeholder="12, 15, 28" id="template-num">
              </div>
            </div>

            <div class="content">
              <p class="has-text-white-ter is-size-7">
                This report was formed on
                <span class="has-text-warning"><samp>{{date.dayFormatted}} {{date.timeFormatted}}</samp></span>.
              </p>
            </div>
          </div>

          <div class="tabs is-boxed is-centered" id="tabs">
            <ul>
              <li class="is-active" data-tab="class"><a>Classes</a></li>
              <li data-tab="unsupported"><a>Unsupported elements</a></li>
              <li data-tab="tag"><a>Tags</a></li>
              <li data-tab="attr"><a>Attributes</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>

    {{#*inline "tableRow"}}
      <tr>
        <td><samp>{{name}}</samp></td>
        <td><span class="tag is-medium is-rounded is-info">{{count}}</span></td>
        <td>
          <a class="site-link" href="{{articleUrl}}" target="_blank">{{articleUrl}}</a>
          {{#each art}}
            <p class="site-link is-size-7"><a href="{{.}}">{{.}}</a></p>
          {{/each}}
        </td>
        <td>
          <div class="template-links" data-link="{{articleUrl}}" data-host={{parent.host}}>
            <div class="buttons">
              <a class="button is-light is-small" href="https://instantview.telegram.org/my/{{parent.host}}/?url={{articleUrl}}" target="_blank">My</a>
            </div>
          </div>
        </td>
      </tr>
    {{/inline}}

    <div class="wrapper__item wrapper__item_position_bottom">
      <div class="container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth" data-elem="class">
          <thead>
            <th width="30%">Name</th>
            <th>Count</th>
            <th width="50%">Link</th>
            <th width="20%">Check templates</th>
          </thead>
          <tbody>
            {{#each data.class}}
              {{> tableRow parent=..}}
            {{/each}}
          </tbody>
        </table>

        <table class="table is-bordered is-striped is-hoverable is-fullwidth" data-elem="unsupported">
          <thead>
            <th width="30%">Name</th>
            <th>Count</th>
            <th width="50%">Link</th>
            <th width="20%">Check templates</th>
          </thead>
          <tbody>
            {{#each data.unsupported}}
              {{> tableRow parent=..}}
            {{/each}}
          </tbody>
        </table>

        <table class="table is-bordered is-striped is-hoverable is-fullwidth" data-elem="tag">
          <thead>
            <th width="30%">Name</th>
            <th>Count</th>
            <th width="50%">Link</th>
            <th width="20%">Check templates</th>
          </thead>
          <tbody>
            {{#each data.tag}}
              {{> tableRow parent=..}}
            {{/each}}
          </tbody>
        </table>

        <table class="table is-bordered is-striped is-hoverable is-fullwidth" data-elem="attr">
          <thead>
            <th width="30%">Name</th>
            <th>Count</th>
            <th width="50%">Link</th>
            <th width="20%">Check templates</th>
          </thead>
          <tbody>
            {{#each data.attr}}
              {{> tableRow parent=..}}
            {{/each}}
          </tbody>
        </table>

        <div style="height: 350px;"></div>
      </div>
    </div>
  </div>
</body>
</html>
